<!--/* fileNamePattern=list.html */-->
<!--/* genfolder=webapp */-->
<!--/* subpackage=html/%s */-->
<meta charset="utf-8"/>
<div class="container">
		<form>
			<div class="row" th:each="attr : ${clazz.eAttributes}">
				<div class="col">
					<label th:for="${attr.name}" emft:label="${attr}"></label>
				</div>
				<div class="col">
					<input class="form-control" th:id="${attr.name}" th:name="${attr.name}" th:attr="data-ng-model=|master.filter.${attr.name}|" type="text"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<button class="btn btn-primary" data-ng-click="search();">Search</button>
				</div>
			</div>
		</form>		
</div>
<br/><br/>

<div class="container" data-ng-if="master.totalRecords > 0">
	<div>
		<table class="table">
			<thead>
				<tr>
					<th th:each="attr : ${clazz.eAttributes}" emft:label="${attr}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:attr="data-ng-repeat=${#strings.toLowerCase(clazz.name)} + ' in master.list'">
					<td>
						<button class="btn btn-primary btn-sm" id="btnDetalhar" th:attr="data-ng-click=|vm.detail(${#strings.toLowerCase(clazz.name)})|">Detail</button>
						<button class="btn btn-warning btn-sm" id="btnAlterar"  th:attr="data-ng-click=|vm.update(${#strings.toLowerCase(clazz.name)})|">Update</button>
						<button class="btn btn-danger btn-sm" id="btnExcluir"  th:attr="data-ng-click=|vm.remove(${#strings.toLowerCase(clazz.name)})|">Remove</button>
					</td>
					<td th:each="attr : ${clazz.eAttributes}" th:text="'{{'+${#strings.toLowerCase(clazz.name)}+'.'+${attr.name}+'}}'">
				</tr>
			</tbody>
		</table>
	</div>
</div>